pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0
}

code.hljs {
    padding: 0
}

.hljs {
    color: #dcdcdc;
    background: transparent
}

.hljs-subst,
.hljs-title {
    font-weight: 400;
    color: #dcdcdc
}

.hljs-comment,
.hljs-quote {
    color: grey;
    font-style: italic
}

.hljs-meta {
    color: rgb(216, 216, 47)
}

.hljs-tag {
    background: #3e3e3e
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-type {
    font-weight: 700;
    color: rgb(160, 220, 250)
}

.hljs-attribute,
.hljs-link,
.hljs-number,
.hljs-regexp {
    font-weight: 700;
    color: #00f
}

.hljs-link,
.hljs-number,
.hljs-regexp {
    font-weight: 400
}

.hljs-string {
    color: rgb(63, 136, 120);
    font-weight: 700
}

.hljs-bullet,
.hljs-formula,
.hljs-symbol {
    color: #000;
    background: #d0eded;
    font-style: italic
}

.hljs-doctag {
    text-decoration: underline
}

.hljs-template-variable,
.hljs-variable {
    color: #660e7a
}

.hljs-addition {
    background: #baeeba
}

.hljs-deletion {
    background: #ffc8bd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}